{
  "presets": [
    ["@babel/preset-env",
      {
        targets: {
          esmodules: true
        },
      }
    ]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-react-jsx",
    "@babel/plugin-transform-runtime"
  ]
}